.planet-area {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.rocket {
  width: 20rem;
  position: absolute;
  left: 7rem;
  bottom: 5.8rem;
  transform: rotate(30deg);
  animation-name: rocketFly;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.planet {
  width: 20rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
@keyframes rocketFly {
  0% {
    left: 7rem;
    bottom: 5.8rem;
    transform: rotate(30deg);
  }
  /* 10% {
    left: 10rem;
    bottom: 9rem;
    transform: rotate(30deg);
  }
  20% {
    left: 10rem;
    bottom: 9rem;
    transform: rotate(30deg);
    left: 15rem;
    bottom: 13.9rem;
    transform: rotate(30deg);
  }
  30% {
    left: 20rem;
    bottom: 18.9rem;
    transform: rotate(30deg);
  }
  40% {
    left: 25rem;
    bottom: 23.9rem;
    transform: rotate(30deg);
  }
  50% {
    left: 30rem;
    bottom: 29.9rem;
    transform: rotate(30deg);
  }
  60% {
    left: 34rem;
    bottom: 33.9rem;
    transform: rotate(30deg);
  } */

  40% {
    left: 49.9rem;
    bottom: 48.9rem;
    transform: rotate(40deg);
  }
  48% {
    left: 120vw;
    bottom: 40rem;
  }
  50% {
    left: 120vw;
    bottom: 30rem;
    transform: rotate(250deg);
  }
  /* 70% {
    left: 80vw;
    bottom: 25rem;
    transform: rotate(240deg);
  } */
  80% {
    left: 30vw;
    bottom: 15rem;
    transform: rotate(250deg);
  }
  90% {
    left: 25vw;
    bottom: 20rem;
    transform: rotate(390deg);
  }

  100% {
    left: 7rem;
    bottom: 5.8rem;
    transform: rotate(390deg);
  }
}
